<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head><head th:replace="fragments :: head"></head>
</head>
<body class="container">
<div th:replace="fragments :: header"></div>
<form th:if="${authors} and ${authors.size()}" method="post">
    <div th:each="author : ${authors}">
        <input type="radio" name="authorId" th:value="${author.id}">
        <label th:for="${author.id}" th:text="${author.name}"></label>
    </div>
    <input type="submit" value="Remove Author"/>
    <p>WARNING! THIS IS WILL ALSO REMOVE BOOKS ASSOCIATED WITH REMOVED AUTHORS</p>
</form>
<p>No authors in library</p>
</body>
</html>