<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<div th:replace="fragments :: header"></div>
<h4>Name</h4>
<p th:text="${author.name}"></p>
<h4>Biography</h4>
<p th:text="${author.bio}"></p>
<h4>Bibliography</h4>
<table>
    <tr>
        <th>Title</th>
        <th>Genres</th>
    </tr>
    <tr th:each="book : ${bookList}">
        <td><a th:href="@{'/browse/book/' + ${book.id}}" th:text="${book.title}"></a></td>
        <td th:text="${book.genres}"></td>
    </tr>
</table>
</body>
</html>