<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<div th:replace="fragments :: header"></div>
<h3>Author</h3>
<p th:text="${book.author.name}"/>
<h3>Description</h3>
<p th:text="${book.description}"/>

<form>
<!--    todo: use a switch case to handle these options-->
    <button th:if="${book.inCart} == false and ${book.checkedOut} == false"
            th:formaction="'/browse/book/' + ${book.id}"
            name="decision"
            th:value="add">Add to Cart</button>
    <div th:if="${book.inCart} == true and ${book.checkedOut} == false">
        <h3>This Book is in Your Cart</h3>
        <button th:formaction="'/browse/book/' + ${book.id}"
                name="decision"
                th:value="remove">Remove from Cart</button>
    </div>
        <h3 th:if="${book.inCart} == false and ${book.checkedOut} == true">This Book is Currently Checked Out</h3>
</form>

</body>
</html>