<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<div th:replace="fragments :: header"></div>
<h4>Title</h4>
<p th:text="${book.title}"></p>
<h4>Author</h4>
<a th:href="'/browse/author/' + ${book.author.id}" th:text="${book.author.name}"></a>
<h4>Description</h4>
<p th:text="${book.description}"/>

<form th:if="${book.checkedOut} == false" method="post">
    <input th:if="${book.inCart} == false"
           type="hidden" name="decision" th:value="add">
    <div th:if="${book.inCart} == true">
        <h3>This Book is in Your Cart</h3>
        <input type="hidden" name="decision" th:value="remove">
    </div>
    <button type="submit" th:formaction="'/browse/book/' + ${book.id}" th:text="${buttonText}"></button>
</form>
<h3 th:if="${book.checkedOut} == true">This Book is Currently Checked Out</h3>

</body>
</html>