<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Wesley's Library</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bookTable.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<!--The entire nav bar was previously available for admin users to see. For now only the editNavigation section
but that is due to change in the future-->
<div th:fragment="header">
    <h1 th:fragment="title" th:text="${title}">Default Title</h1>
    <nav sec:authorize="hasRole('ROLE_USER')" th:fragment="browseNavigation">
        <a class="navOption" href="/browse">Browse</a> |
        <a class="navOption" href="/checkout">Checkout</a> |
        <a class="navOption" href="/return">Return</a> |
        <a class="navOption" href="/logout">Logout</a>
    </nav>
    <nav sec:authorize="hasRole('ROLE_ADMIN')" th:fragment="editNavigation">
        <a class="navOption" href="/book/add">Add Book</a> |
        <a class="navOption" href="/book/remove">Remove Book</a> |
        <a class="navOption" href="/author/add">Add Author</a> |
        <a class="navOption" href="/author/remove">Remove Author</a> |
        <a class="navOption" href="/logout">Logout</a>
    </nav>
    <br>
</div>
</body>
</html>