<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <link th:href="@{/css/bookList.css}" rel="stylesheet">
</head>
<body>
    <h1 th:replace="fragments :: title"></h1>
    <form method="post">
        <div class="form-group">
        <label th:for="authorId">Authors</label>
        <select name="authorId">
            <option th:each="author : ${authors}"
                    th:text="${author.name}"
                    th:value="${author.id}"></option>
        </select>
        <input type="submit">
        </div>
    </form>
<!--    TODO: (LAST) Style this -->
    <table th:if="${authors != null and !authors.isEmpty()}" class="book-listing">
        <tr>
            <th>Title</th>
            <th>Author</th>
<!--            TODO: Add Genre and other attributes-->
<!--            <th></th>-->
        </tr>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author.name}"></td>
        </tr>
    </table>
</body>
</html>