<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <link th:href="@{/css/bookList.css}" rel="stylesheet">
</head>
<body class="container">
<div th:replace="fragments :: header"></div>
<form method="post">
    <ul class="noDot">
        <li th:each="genre : ${genres}">
            <input type="radio"
                   name="genre"
                   th:value="${genre}">
            <label th:for="${genre}" th:text="${genre.name}"></label>
        </li>
        <input type="submit" value="Search">
    </ul>
</form>
</body>
</html>