<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<div th:replace="fragments :: header"></div>
<div th:if="${cart} and ${cart.size()}">
<p>The following books will be due in 4:00 minutes</p>
<ul>
    <li th:each="book : ${cart}"><a th:href="'/browse/book/' + ${book.id}"
                                    th:text="${book.title}"></a></li>
</ul>
    <form method="post">
        <input type="submit" value="Checkout">
    </form>
</div>
<p th:unless="${cart} and ${cart.size()}">No books in your cart</p>
</body>
</html>